# macOS
.DS_Store

# Editor
.vscode/

# Generic C/C++ build artifacts
*.o
*.out
*.exe

# Project binaries
/tree/expr
/parser/expr
/compiler/ast
/compiler_v4/compilerv4
/compiler_v4/program.bin

