# macOS
.DS_Store

# Editor
.vscode/

# Generic C/C++ build artifacts
*.o
*.out
*.exe

# Project binaries
/tree/expr
/parser/expr
/compiler/ast
/language/langc
/language/program.bin

# language linker artifacts
*.vobj
/language/*.bin

